{% extends 'layout.html' %}

{% block content %}
<section class="upload-section">
    <h2>Upload an Image or Video</h2>
    <div class="form-container">
        <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data" class="upload-form">
            <label for="image">Upload Image:</label>
            <input type="file" name="image" id="image">
            <button type="submit">Analyze Image</button>
        </form>

        <form action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data" class="upload-form">
            <label for="video">Upload Video:</label>
            <input type="file" name="video" id="video">
            <button type="submit">Analyze Video</button>
        </form>
    </div>
</section>
{% endblock %}
